.DS_Store
__pycache__/

/dataset/raw/meta
/dataset/raw/review

/dataset/processed/*/splits
/dataset/processed/*/meta.csv
/dataset/processed/*/review.csv

/results/*/graph.pt
/outputs
/embeddings/*/*512*.pt
/embeddings/*/*1024*.pt