/baseline.pt
/batch_2048.pt
/batch_4096.pt
/emb_1024_n_layers_6_reg_0.001_gentle_0.1_gcl.pt
/emb_128.pt
/emb_256.pt
/emb_256_n_layers_4.pt
/emb_256_reg_0.001.pt
/emb_32.pt
/emb_512_n_layers_3_reg_0.001_gcl.pt
/emb_512_n_layers_3_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_4_reg_0.001.pt
/emb_512_n_layers_4_reg_0.001_gcl.pt
/emb_512_n_layers_4_reg_0.001_gcl_geo_distance_neighbors_10_weight_1.0.pt
/emb_512_n_layers_4_reg_0.001_gcl_geo_distance_neighbors_5_weight_1.0.pt
/emb_512_n_layers_4_reg_0.001_gcl_geo_distance_neighbors_5_weight_2.0.pt
/emb_512_n_layers_4_reg_0.001_gcl_geo_distance_neighbors_5_weight_5.0.pt
/emb_512_n_layers_4_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_5_reg_0.001.pt
/emb_512_n_layers_5_reg_0.001_gentle_0.05.pt
/emb_512_n_layers_5_reg_0.001_gentle_0.1.pt
/emb_512_n_layers_5_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_6_reg_0.001.pt
/emb_512_n_layers_6_reg_0.001_gcl.pt
/emb_512_n_layers_6_reg_0.001_gentle_0.05.pt
/emb_512_n_layers_6_reg_0.001_gentle_0.1.pt
/emb_512_n_layers_6_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_6_reg_0.001_gentle_0.1_gcl_geo_distance_15.pt
/emb_512_n_layers_6_reg_0.001_gentle_0.1_gcl_geo_distance_20.0_8.0.pt
/emb_512_n_layers_7_reg_0.001.pt
/emb_512_n_layers_7_reg_0.001_gcl.pt
/emb_512_n_layers_7_reg_0.001_gentle_0.05.pt
/emb_512_n_layers_7_reg_0.001_gentle_0.1.pt
/emb_512_n_layers_7_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_7_reg_0.001_gentle_0.1_gcl_geo_distance_15.pt
/emb_512_n_layers_7_reg_0.001_gentle_0.1_gcl_geo_distance_20.0_8.0.pt
/emb_512_n_layers_7_reg_0.01_gentle_0.1.pt
/emb_512_n_layers_8_reg_0.001.pt
/emb_512_n_layers_8_reg_0.001_gcl.pt
/emb_512_n_layers_8_reg_0.001_gentle_0.05.pt
/emb_512_n_layers_8_reg_0.001_gentle_0.1.pt
/emb_512_n_layers_8_reg_0.001_gentle_0.1_gcl.pt
/emb_512_n_layers_8_reg_0.001_gentle_0.1_gcl_geo_distance_15.pt
/emb_512_n_layers_8_reg_0.001_gentle_0.1_gcl_geo_distance_20.0_8.0.pt
/emb_512_n_layers_8_reg_0.01_gentle_0.1.pt
/gcl.pt
/geo_distance_neighbors_10_weight_0.1.pt
/geo_distance_neighbors_10_weight_1.0.pt
/geo_distance_neighbors_15_weight_0.1.pt
/geo_distance_neighbors_15_weight_1.0.pt
/geo_distance_neighbors_20_weight_0.1.pt
/geo_distance_neighbors_20_weight_1.0.pt
/geo_distance_neighbors_5_weight_0.1.pt
/geo_distance_neighbors_5_weight_1.0.pt
/geo_distance_threshold_10.0_weight_0.1.pt
/geo_distance_threshold_5.0_weight_0.1.pt
/lr_0.0001.pt
/lr_0.01.pt
/n_layers_2.pt
/n_layers_4.pt
/n_layers_5.pt
/n_layers_6.pt
/n_layers_7.pt
/n_layers_8.pt
/reg_0.00001.pt
/reg_0.001.pt
/reg_0.01.pt
/time_decay_0.0001_0.1.pt
/time_decay_0.0001_0.3.pt
/time_decay_0.0005_0.1.pt
/time_decay_0.0005_0.3.pt
/time_decay_0.001_0.1.pt
/time_decay_0.001_0.3.pt
